:root {
  --vp-c-brand-1: oklch(76.9% 0.188 70.08); /* 500 */
  --vp-c-brand-2: oklch(55.5% 0.163 48.998); /* 700 */
  --vp-c-brand-3: oklch(66.6% 0.179 58.318); /* 600 */
  --vp-c-brand-soft: oklch(27.9% 0.077 45.635); /* 950 */
}
