:root {
  --vp-c-brand-1: oklch(62.3% 0.214 259.815); /* 500 */
  --vp-c-brand-2: oklch(48.8% 0.243 264.376); /* 700 */
  --vp-c-brand-3: oklch(54.6% 0.245 262.881); /* 600 */
  --vp-c-brand-soft: oklch(28.2% 0.091 267.935); /* 950 */
}
